body{
	padding-top:70px;
}

td{
	color:grey;
}

li {
	color: #CCCCCC;
}

.selectedLanguage{
	color: black;
	
}

.unselectedLanguage{
	color: white;
}

.phonemes-bloc{
	overflow: hidden;
}

.phonemes-list{
	list-style: none outside none;
    padding-left: 0;
}



.phonemes-bloc li {
    background-color: #F9F9F9;
    border: 1px solid #FFFFFF;
    float: left;
    font-size: 50px;
    height: 100px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 10%;
}

.phonemes-bloc li:hover {
	background-color: #CCCCCC;
	color: white;
}